---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Pittsburgh,PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 16:44:24 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Pittsburgh,PA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pittsburgh","adminArea5Type":"City","adminArea4":"Allegheny
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039780","unknownInput":"","type":"s","latLng":{"lat":40.442169,"lng":-79.994945},"displayLatLng":{"lat":40.442169,"lng":-79.994945},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=40.442169,-79.994945|marker-sm-50318A-1&scalebar=true&zoom=12&rand=493726774"}]}]}'
  recorded_at: Sat, 24 Apr 2021 16:44:24 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&lat=40.442169&lon=-79.994945&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.4422,"lon":-79.9949,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619282664,"sunrise":1619260074,"sunset":1619309272,"temp":59.07,"feels_like":56.46,"pressure":1016,"humidity":38,"dew_point":33.53,"uvi":4.9,"clouds":1,"visibility":10000,"wind_speed":8.05,"wind_deg":150,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1619282700,"precipitation":0},{"dt":1619282760,"precipitation":0},{"dt":1619282820,"precipitation":0},{"dt":1619282880,"precipitation":0},{"dt":1619282940,"precipitation":0},{"dt":1619283000,"precipitation":0},{"dt":1619283060,"precipitation":0},{"dt":1619283120,"precipitation":0},{"dt":1619283180,"precipitation":0},{"dt":1619283240,"precipitation":0},{"dt":1619283300,"precipitation":0},{"dt":1619283360,"precipitation":0},{"dt":1619283420,"precipitation":0},{"dt":1619283480,"precipitation":0},{"dt":1619283540,"precipitati[...]
