---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Pittsburgh,PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 17:49:38 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Pittsburgh,PA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pittsburgh","adminArea5Type":"City","adminArea4":"Allegheny
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":40.441694,"lng":-79.990086},"displayLatLng":{"lat":40.441694,"lng":-79.990086},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=40.4416941,-79.9900861|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1242801780"}]}]}'
  recorded_at: Fri, 07 May 2021 17:49:38 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=40.441694&lon=-79.990086&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.4417,"lon":-79.9901,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620409779,"sunrise":1620382295,"sunset":1620433283,"temp":43.99,"feels_like":41.43,"pressure":1013,"humidity":87,"dew_point":40.37,"uvi":2.81,"clouds":90,"visibility":10000,"wind_speed":4.61,"wind_deg":300,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1620406800,"temp":43.45,"feels_like":38.41,"pressure":1013,"humidity":89,"dew_point":40.42,"uvi":2.87,"clouds":92,"visibility":1218,"wind_speed":8.84,"wind_deg":310,"wind_gust":16.91,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":1,"rain":{"1h":0.33}},{"dt":1620410400,"temp":43.99,"feels_like":40.19,"pressure":1013,"humidity":87,"dew_point":40.37,"uvi":2.81,"clouds":90,"visibility":10000,"wind_speed":6.55,"wind_deg":323,"wind_gust":18.59,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.8},{"dt":1620414000,"temp":44.85,"feels_like":39.97,"pressure":1013,"humidity":85,"dew_point":40.62,"uvi":2.71,"clouds":92,"visibility":10000,"wind_speed":9.22,"wind_deg":314,"wind_gust":16.44,"wea[...]
