---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=40.442169&lon=-79.994945&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.4422,"lon":-79.9949,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619539908,"sunrise":1619519031,"sunset":1619568661,"temp":74.5,"feels_like":73.44,"pressure":1016,"humidity":38,"dew_point":47.26,"uvi":5.89,"clouds":1,"visibility":10000,"wind_speed":17.27,"wind_deg":240,"wind_gust":25.32,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619539200,"temp":74.5,"feels_like":73.44,"pressure":1016,"humidity":38,"dew_point":47.26,"uvi":5.89,"clouds":1,"visibility":10000,"wind_speed":13.2,"wind_deg":243,"wind_gust":21.68,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619542800,"temp":74.3,"feels_like":73.31,"pressure":1016,"humidity":40,"dew_point":48.45,"uvi":6.65,"clouds":7,"visibility":10000,"wind_speed":12.77,"wind_deg":243,"wind_gust":20.45,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619546400,"temp":74.89,"feels_like":73.96,"pressure":1015,"humidity":40,"dew_point":48.97,"uvi":6.49,"clouds":19,"visibility":10000,"wind_speed":12.84,"wind_deg":242,"wind_gust":21.07,"weather":[{"id":801,"m[...]
