---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Pittsburgh,PA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 02:09:22 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Pittsburgh,PA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pittsburgh","adminArea5Type":"City","adminArea4":"Allegheny
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":40.441694,"lng":-79.990086},"displayLatLng":{"lat":40.441694,"lng":-79.990086},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=40.4416941,-79.9900861|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1905469937"}]}]}'
  recorded_at: Fri, 07 May 2021 02:09:22 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=40.441694&lon=-79.990086&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.4417,"lon":-79.9901,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620353362,"sunrise":1620295963,"sunset":1620346821,"temp":51.85,"feels_like":49.08,"pressure":1016,"humidity":50,"dew_point":33.82,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":3.44,"wind_deg":240,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1620352800,"temp":51.85,"feels_like":49.08,"pressure":1016,"humidity":50,"dew_point":33.82,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":1.88,"wind_deg":62,"wind_gust":1.79,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1620356400,"temp":50.52,"feels_like":47.86,"pressure":1016,"humidity":55,"dew_point":34.97,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":3.51,"wind_deg":104,"wind_gust":3.83,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620360000,"temp":48.76,"feels_like":47.98,"pressure":1016,"humidity":60,"dew_point":35.51,"uvi":0,"clouds":64,"visibility":10000,"wind_speed":3.31,"wind_deg":109,"wind_gust":3.98,"weather":[{"id":803,"main[...]
