---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=32.777977&lon=-96.796215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.778,"lon":-96.7962,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1620350303,"sunrise":1620300905,"sunset":1620349946,"temp":75.78,"feels_like":74.84,"pressure":1020,"humidity":38,"dew_point":48.4,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":6.91,"wind_deg":100,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1620349200,"temp":75.78,"feels_like":74.84,"pressure":1020,"humidity":38,"dew_point":48.4,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.97,"wind_deg":81,"wind_gust":9.62,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620352800,"temp":75.02,"feels_like":74.25,"pressure":1020,"humidity":43,"dew_point":51.03,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.81,"wind_deg":103,"wind_gust":9.13,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620356400,"temp":73.65,"feels_like":73.02,"pressure":1021,"humidity":49,"dew_point":53.33,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.61,"wind_deg":102,"wind_gust":9.69,"weather":[{"id":800,"main":"Clea[...]
