---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=32.777977&lon=-96.796215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.778,"lon":-96.7962,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619487920,"sunrise":1619437477,"sunset":1619485496,"temp":75.22,"feels_like":74.93,"pressure":1008,"humidity":53,"dew_point":56.93,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":17.27,"wind_deg":160,"wind_gust":25.32,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619485200,"temp":75.24,"feels_like":75.04,"pressure":1008,"humidity":55,"dew_point":57.97,"uvi":0,"clouds":9,"visibility":10000,"wind_speed":13.87,"wind_deg":160,"wind_gust":28.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619488800,"temp":75.22,"feels_like":74.93,"pressure":1008,"humidity":53,"dew_point":56.93,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":14.25,"wind_deg":158,"wind_gust":31.7,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619492400,"temp":74.77,"feels_like":74.57,"pressure":1008,"humidity":56,"dew_point":58.05,"uvi":0,"clouds":16,"visibility":10000,"wind_speed":15.12,"wind_deg":162,"wind_gust":33.53,"weather":[{"id":801,"main":"[...]
