---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Dallas,TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 17:37:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Dallas,TX"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dallas","adminArea5Type":"City","adminArea4":"Dallas
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":32.776272,"lng":-96.796856},"displayLatLng":{"lat":32.776272,"lng":-96.796856},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=32.7762719,-96.7968559|marker-sm-50318A-1&scalebar=true&zoom=12&rand=859014174"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Dallas
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XCX","geocodeQuality":"COUNTY","dra[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=32.776272&lon=-96.796856&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.7763,"lon":-96.7969,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1620409064,"sunrise":1620387254,"sunset":1620436391,"temp":78.96,"feels_like":78.96,"pressure":1022,"humidity":44,"dew_point":55.22,"uvi":9.5,"clouds":20,"visibility":10000,"wind_speed":10.36,"wind_deg":160,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1620406800,"temp":78.33,"feels_like":78.03,"pressure":1022,"humidity":46,"dew_point":55.87,"uvi":8.24,"clouds":18,"visibility":10000,"wind_speed":10.25,"wind_deg":156,"wind_gust":12.97,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1620410400,"temp":78.96,"feels_like":78.96,"pressure":1022,"humidity":44,"dew_point":55.22,"uvi":9.5,"clouds":20,"visibility":10000,"wind_speed":10.76,"wind_deg":166,"wind_gust":13.27,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1620414000,"temp":79.18,"feels_like":79.18,"pressure":1022,"humidity":43,"dew_point":54.77,"uvi":9.46,"clouds":17,"visibility":10000,"wind_speed":11.18,"wind_deg":171,"wind_gust":13.96,"weather":[{"id":801[...]
