---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Dallas,TX
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 02:09:22 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Dallas,TX"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Dallas","adminArea5Type":"City","adminArea4":"Dallas
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":32.776272,"lng":-96.796856},"displayLatLng":{"lat":32.776272,"lng":-96.796856},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=32.7762719,-96.7968559|marker-sm-50318A-1&scalebar=true&zoom=12&rand=780735270"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Dallas
        County","adminArea4Type":"County","adminArea3":"TX","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XCX","geocodeQuality":"COUNTY","dra[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=32.776272&lon=-96.796856&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.7763,"lon":-96.7969,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1620353363,"sunrise":1620300905,"sunset":1620349946,"temp":71.76,"feels_like":70.66,"pressure":1021,"humidity":43,"dew_point":48.09,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.44,"wind_deg":90,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1620352800,"temp":71.76,"feels_like":70.66,"pressure":1021,"humidity":43,"dew_point":48.09,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.81,"wind_deg":103,"wind_gust":9.15,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620356400,"temp":71.51,"feels_like":70.61,"pressure":1021,"humidity":48,"dew_point":50.81,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.61,"wind_deg":103,"wind_gust":9.71,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620360000,"temp":70.72,"feels_like":69.98,"pressure":1021,"humidity":53,"dew_point":52.77,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":4.07,"wind_deg":89,"wind_gust":8.23,"weather":[{"id":800,"main":"Clear[...]
