---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=32.777977&lon=-96.796215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.778,"lon":-96.7962,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619539908,"sunrise":1619523815,"sunset":1619571941,"temp":71.89,"feels_like":72.21,"pressure":1011,"humidity":73,"dew_point":62.76,"uvi":2.68,"clouds":90,"visibility":10000,"wind_speed":10.36,"wind_deg":180,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619539200,"temp":71.89,"feels_like":72.21,"pressure":1011,"humidity":73,"dew_point":62.76,"uvi":2.68,"clouds":90,"visibility":10000,"wind_speed":11.41,"wind_deg":181,"wind_gust":24.27,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619542800,"temp":72.14,"feels_like":72.57,"pressure":1011,"humidity":75,"dew_point":63.79,"uvi":3.68,"clouds":92,"visibility":10000,"wind_speed":12.03,"wind_deg":191,"wind_gust":23.11,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619546400,"temp":72.5,"feels_like":73.08,"pressure":1011,"humidity":77,"dew_point":64.89,"uvi":4.28,"clouds":94,"visibility":10000,"wind_speed":11.41,"wind_deg":192,"wind_gust":23.96,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619550000,"temp":73.06,"feels_like":73.83,"pressure":1011,"humidity":80,"dew_point":66.52,"uvi":3.16,"clouds":96,"visibility":10000,"wind_speed":11.56,"wind_deg":195,"wind_gust":22.79,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.41,"rain":{"1h":0.54}},{"dt":1619553600,"temp":73.51,"feels_like":74.46,"pressure":1011,"humidity":83,"dew_point":68.04,"uvi":2.7,"clouds":98,"visibility":10000,"wind_speed":10.36,"wind_deg":179,"wind_gust":20.78,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.42},{"dt":1619557200,"temp":74.5,"feels_like":75.69,"pressure":1010,"humidity":86,"dew_point":69.94,"uvi":1.93,"clouds":100,"visibility":10000,"wind_speed":7.27,"wind_deg":169,"wind_gust":16.62,"we[...]
