---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=32.777977&lon=-96.796215&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":32.778,"lon":-96.7962,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1619404239,"sunrise":1619351140,"sunset":1619399051,"temp":71.92,"feels_like":71.46,"pressure":1012,"humidity":56,"dew_point":55.4,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":8.05,"wind_deg":150,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619402400,"temp":71.69,"feels_like":71.33,"pressure":1012,"humidity":59,"dew_point":56.61,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.15,"wind_deg":149,"wind_gust":24.18,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619406000,"temp":71.92,"feels_like":71.46,"pressure":1012,"humidity":56,"dew_point":55.4,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":10.69,"wind_deg":146,"wind_gust":27.25,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619409600,"temp":71.22,"feels_like":70.86,"pressure":1012,"humidity":60,"dew_point":56.64,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":11.27,"wind_deg":151,"wind_gust":29.93,"weather":[{"id":800,"main":"C[...]
