---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Atlanta,GA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 02:09:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Atlanta,GA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Atlanta","adminArea5Type":"City","adminArea4":"Fulton
        County","adminArea4Type":"County","adminArea3":"GA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":33.749099,"lng":-84.390185},"displayLatLng":{"lat":33.749099,"lng":-84.390185},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=33.7490987,-84.3901849|marker-sm-50318A-1&scalebar=true&zoom=12&rand=277334193"}]}]}'
  recorded_at: Fri, 07 May 2021 02:09:23 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=33.749099&lon=-84.390185&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.7491,"lon":-84.3902,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620353364,"sunrise":1620297824,"sunset":1620347072,"temp":60.49,"feels_like":58.64,"pressure":1017,"humidity":51,"dew_point":42.3,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.91,"wind_deg":282,"wind_gust":23.24,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1620352800,"temp":60.49,"feels_like":58.64,"pressure":1017,"humidity":51,"dew_point":42.3,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.91,"wind_deg":282,"wind_gust":23.24,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620356400,"temp":60.37,"feels_like":58.46,"pressure":1017,"humidity":50,"dew_point":41.67,"uvi":0,"clouds":3,"visibility":10000,"wind_speed":15.41,"wind_deg":299,"wind_gust":27.67,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0.15},{"dt":1620360000,"temp":58.51,"feels_like":56.89,"pressure":1017,"humidity":60,"dew_point":44.69,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":8.52,"wind_deg":298,"wind_gust":26.93,"weather":[{"id":800,"main"[...]
