---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=33.748547&lon=-84.391502&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.7485,"lon":-84.3915,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619487921,"sunrise":1619434417,"sunset":1619482602,"temp":67.62,"feels_like":66.38,"pressure":1019,"humidity":49,"dew_point":47.8,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.44,"wind_deg":140,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619485200,"temp":67.55,"feels_like":66.45,"pressure":1019,"humidity":52,"dew_point":49.33,"uvi":0,"clouds":17,"visibility":10000,"wind_speed":5.1,"wind_deg":150,"wind_gust":15.01,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1619488800,"temp":67.62,"feels_like":66.38,"pressure":1019,"humidity":49,"dew_point":47.8,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.35,"wind_deg":150,"wind_gust":16.2,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619492400,"temp":67.03,"feels_like":65.93,"pressure":1019,"humidity":53,"dew_point":49.35,"uvi":0,"clouds":19,"visibility":10000,"wind_speed":5.08,"wind_deg":144,"wind_gust":16.82,"weather":[{"id":801,"main":"Clo[...]
