---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Atlanta,GA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 17:37:44 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Atlanta,GA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Atlanta","adminArea5Type":"City","adminArea4":"Fulton
        County","adminArea4Type":"County","adminArea3":"GA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":33.749099,"lng":-84.390185},"displayLatLng":{"lat":33.749099,"lng":-84.390185},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=33.7490987,-84.3901849|marker-sm-50318A-1&scalebar=true&zoom=12&rand=418396227"}]}]}'
  recorded_at: Fri, 07 May 2021 17:37:44 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=33.749099&lon=-84.390185&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.7491,"lon":-84.3902,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620409065,"sunrise":1620384171,"sunset":1620433519,"temp":64.06,"feels_like":61.66,"pressure":1020,"humidity":32,"dew_point":33.64,"uvi":8.66,"clouds":1,"visibility":10000,"wind_speed":16.11,"wind_deg":330,"wind_gust":23.02,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1620406800,"temp":64.02,"feels_like":61.57,"pressure":1020,"humidity":31,"dew_point":32.81,"uvi":8.51,"clouds":1,"visibility":10000,"wind_speed":14.12,"wind_deg":327,"wind_gust":22.3,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620410400,"temp":64.06,"feels_like":61.66,"pressure":1020,"humidity":32,"dew_point":33.64,"uvi":8.66,"clouds":1,"visibility":10000,"wind_speed":13.82,"wind_deg":325,"wind_gust":21.56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620414000,"temp":64.53,"feels_like":62.1,"pressure":1020,"humidity":30,"dew_point":32.43,"uvi":7.81,"clouds":1,"visibility":10000,"wind_speed":13.76,"wind_deg":324,"wind_gust":20.71,"weather":[{"id":800,"ma[...]
