---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=33.748547&lon=-84.391502&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.7485,"lon":-84.3915,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619404240,"sunrise":1619348082,"sunset":1619396155,"temp":58.57,"feels_like":56.86,"pressure":1017,"humidity":58,"dew_point":43.86,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":3.44,"wind_deg":320,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619402400,"temp":58.89,"feels_like":57.16,"pressure":1017,"humidity":57,"dew_point":43.7,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":7.2,"wind_deg":332,"wind_gust":21.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619406000,"temp":58.57,"feels_like":56.86,"pressure":1017,"humidity":58,"dew_point":43.86,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":6.2,"wind_deg":332,"wind_gust":20.27,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619409600,"temp":58.39,"feels_like":56.7,"pressure":1017,"humidity":59,"dew_point":44.13,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":6.2,"wind_deg":343,"wind_gust":18.99,"weather":[{"id":800,"main":"Clear[...]
