---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Atlanta,GA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 21:43:09 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Atlanta,GA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Atlanta","adminArea5Type":"City","adminArea4":"Fulton
        County","adminArea4Type":"County","adminArea3":"GA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041693","unknownInput":"","type":"s","latLng":{"lat":33.748547,"lng":-84.391502},"displayLatLng":{"lat":33.748547,"lng":-84.391502},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=33.748547,-84.391502|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1264314363"}]}]}'
  recorded_at: Mon, 26 Apr 2021 21:43:09 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=33.748547&lon=-84.391502&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.7485,"lon":-84.3915,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619473390,"sunrise":1619434417,"sunset":1619482602,"temp":77.59,"feels_like":76.66,"pressure":1019,"humidity":34,"dew_point":47.03,"uvi":1.63,"clouds":1,"visibility":10000,"wind_speed":8.05,"wind_deg":160,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619470800,"temp":77.5,"feels_like":76.6,"pressure":1019,"humidity":35,"dew_point":47.73,"uvi":3.41,"clouds":17,"visibility":10000,"wind_speed":7.9,"wind_deg":143,"wind_gust":9.26,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1619474400,"temp":77.59,"feels_like":76.66,"pressure":1019,"humidity":34,"dew_point":47.03,"uvi":1.63,"clouds":1,"visibility":10000,"wind_speed":8.1,"wind_deg":148,"wind_gust":9.75,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619478000,"temp":76.98,"feels_like":76.12,"pressure":1019,"humidity":37,"dew_point":48.74,"uvi":0.49,"clouds":14,"visibility":10000,"wind_speed":7.05,"wind_deg":154,"wind_gust":9.95,"weather":[{"id":801,"main"[...]
