---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Atlanta,GA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 16:49:14 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Atlanta,GA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Atlanta","adminArea5Type":"City","adminArea4":"Fulton
        County","adminArea4Type":"County","adminArea3":"GA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041693","unknownInput":"","type":"s","latLng":{"lat":33.748547,"lng":-84.391502},"displayLatLng":{"lat":33.748547,"lng":-84.391502},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=33.748547,-84.391502|marker-sm-50318A-1&scalebar=true&zoom=12&rand=378969065"}]}]}'
  recorded_at: Sat, 24 Apr 2021 16:49:14 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&lat=33.748547&lon=-84.391502&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.7485,"lon":-84.3915,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619282955,"sunrise":1619261748,"sunset":1619309709,"temp":61.36,"feels_like":61.61,"pressure":1009,"humidity":94,"dew_point":59.61,"uvi":2.29,"clouds":90,"visibility":10000,"wind_speed":8.05,"wind_deg":170,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1619283000,"precipitation":0},{"dt":1619283060,"precipitation":0},{"dt":1619283120,"precipitation":0},{"dt":1619283180,"precipitation":0},{"dt":1619283240,"precipitation":0},{"dt":1619283300,"precipitation":0},{"dt":1619283360,"precipitation":0},{"dt":1619283420,"precipitation":0},{"dt":1619283480,"precipitation":0},{"dt":1619283540,"precipitation":0},{"dt":1619283600,"precipitation":0},{"dt":1619283660,"precipitation":0},{"dt":1619283720,"precipitation":0},{"dt":1619283780,"precipitation":0},{"dt":1619283840,"precipitati[...]
