---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=33.748547&lon=-84.391502&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.7485,"lon":-84.3915,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619539909,"sunrise":1619520753,"sunset":1619569049,"temp":75.22,"feels_like":74.79,"pressure":1022,"humidity":50,"dew_point":55.33,"uvi":7.71,"clouds":1,"visibility":10000,"wind_speed":10.36,"wind_deg":170,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619539200,"temp":75.22,"feels_like":74.79,"pressure":1022,"humidity":50,"dew_point":55.33,"uvi":7.71,"clouds":1,"visibility":10000,"wind_speed":9.37,"wind_deg":185,"wind_gust":14.14,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1619542800,"temp":75.74,"feels_like":75.27,"pressure":1022,"humidity":48,"dew_point":54.68,"uvi":9.17,"clouds":13,"visibility":10000,"wind_speed":9.42,"wind_deg":187,"wind_gust":13.8,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1619546400,"temp":77.09,"feels_like":76.66,"pressure":1021,"humidity":46,"dew_point":54.73,"uvi":9.36,"clouds":28,"visibility":10000,"wind_speed":9.51,"wind_deg":188,"wind_gust":13.78,"weather":[{"id":802,"[...]
