---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=33.748547&lon=-84.391502&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.7485,"lon":-84.3915,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620350303,"sunrise":1620297824,"sunset":1620347072,"temp":62.73,"feels_like":60.82,"pressure":1016,"humidity":45,"dew_point":41.11,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.75,"wind_deg":290,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1620349200,"temp":62.73,"feels_like":60.82,"pressure":1016,"humidity":45,"dew_point":41.11,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":8.48,"wind_deg":281,"wind_gust":19.73,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620352800,"temp":62.46,"feels_like":60.51,"pressure":1016,"humidity":45,"dew_point":40.86,"uvi":0,"clouds":2,"visibility":10000,"wind_speed":9.89,"wind_deg":282,"wind_gust":23.24,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620356400,"temp":61.57,"feels_like":59.65,"pressure":1017,"humidity":47,"dew_point":41.18,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":15.41,"wind_deg":300,"wind_gust":27.67,"weather":[{"id":800,"main":"C[...]
