---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1620347488,"sunrise":1620302049,"sunset":1620352731,"temp":21.93,"feels_like":21.07,"pressure":1012,"humidity":34,"dew_point":5.37,"uvi":0.31,"clouds":0,"visibility":10000,"wind_speed":1.79,"wind_deg":326,"wind_gust":3.58,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1620345600,"temp":21.98,"feels_like":21.04,"pressure":1012,"humidity":31,"dew_point":4.1,"uvi":1.17,"clouds":0,"visibility":10000,"wind_speed":1.7,"wind_deg":42,"wind_gust":1.56,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620349200,"temp":21.93,"feels_like":21.07,"pressure":1012,"humidity":34,"dew_point":5.37,"uvi":0.31,"clouds":0,"visibility":10000,"wind_speed":2.19,"wind_deg":31,"wind_gust":2.16,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620352800,"temp":21.27,"feels_like":20.37,"pressure":1013,"humidity":35,"dew_point":5.21,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.48,"wind_deg":17,"wind_gust":4.56,"weather":[{"id":800,"main":"Clear[...]
