---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1620332950,"sunrise":1620302049,"sunset":1620352731,"temp":19.94,"feels_like":18.98,"pressure":1017,"humidity":38,"dew_point":5.21,"uvi":9.29,"clouds":0,"visibility":10000,"wind_speed":0.89,"wind_deg":9,"wind_gust":2.24,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1620331200,"temp":19.94,"feels_like":18.98,"pressure":1017,"humidity":38,"dew_point":5.21,"uvi":9.29,"clouds":0,"visibility":10000,"wind_speed":1.3,"wind_deg":76,"wind_gust":1.98,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620334800,"temp":20.25,"feels_like":19.22,"pressure":1017,"humidity":34,"dew_point":3.9,"uvi":7.48,"clouds":0,"visibility":10000,"wind_speed":1.41,"wind_deg":40,"wind_gust":1.75,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620338400,"temp":20.84,"feels_like":19.79,"pressure":1016,"humidity":31,"dew_point":3.11,"uvi":5.01,"clouds":0,"visibility":10000,"wind_speed":1.28,"wind_deg":32,"wind_gust":1.45,"weather":[{"id":800,"main":"Cle[...]
