---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1620349420,"sunrise":1620302049,"sunset":1620352731,"temp":20.91,"feels_like":19.97,"pressure":1020,"humidity":35,"dew_point":4.89,"uvi":0.31,"clouds":0,"visibility":10000,"wind_speed":0.45,"wind_deg":37,"wind_gust":2.24,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1620349200,"temp":20.91,"feels_like":19.97,"pressure":1020,"humidity":35,"dew_point":4.89,"uvi":0.31,"clouds":0,"visibility":10000,"wind_speed":2.8,"wind_deg":35,"wind_gust":2.85,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620352800,"temp":20.37,"feels_like":19.4,"pressure":1019,"humidity":36,"dew_point":4.82,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.67,"wind_deg":26,"wind_gust":4.82,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620356400,"temp":19.28,"feels_like":18.26,"pressure":1018,"humidity":38,"dew_point":4.63,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":2.04,"wind_deg":355,"wind_gust":3.99,"weather":[{"id":800,"main":"Clear","[...]
