---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619560022,"sunrise":1619525100,"sunset":1619574586,"temp":12.01,"feels_like":10.86,"pressure":1004,"humidity":61,"dew_point":4.73,"uvi":2.26,"clouds":72,"visibility":10000,"wind_speed":6.14,"wind_deg":33,"wind_gust":6.18,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.13}},"hourly":[{"dt":1619557200,"temp":11.89,"feels_like":10.75,"pressure":1004,"humidity":62,"dew_point":4.85,"uvi":2.58,"clouds":72,"visibility":10000,"wind_speed":5.17,"wind_deg":29,"wind_gust":4.34,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":1,"rain":{"1h":1.45}},{"dt":1619560800,"temp":12.01,"feels_like":10.86,"pressure":1004,"humidity":61,"dew_point":4.73,"uvi":2.26,"clouds":72,"visibility":10000,"wind_speed":6.14,"wind_deg":33,"wind_gust":6.18,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.8},{"dt":1619564400,"temp":11.55,"feels_like":10.41,"pressure":1004,"humidity":63,"dew_point":4.76,"uvi":1.23,"clouds":73,"visibility":10000,"wind_speed":4.78,"wind_deg":24,"wind_gust":5.62,"we[...]
