---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619487940,"sunrise":1619438778,"sunset":1619488125,"temp":19.53,"feels_like":17.77,"pressure":997,"humidity":9,"dew_point":-12.67,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.7,"wind_deg":245,"wind_gust":10.04,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619485200,"temp":19.93,"feels_like":18.24,"pressure":996,"humidity":10,"dew_point":-11.23,"uvi":0.14,"clouds":100,"visibility":10000,"wind_speed":5.69,"wind_deg":250,"wind_gust":8.51,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619488800,"temp":19.53,"feels_like":17.77,"pressure":997,"humidity":9,"dew_point":-12.67,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.7,"wind_deg":245,"wind_gust":10.04,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619492400,"temp":19.31,"feels_like":17.58,"pressure":997,"humidity":11,"dew_point":-10.59,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":5.14,"wind_deg":239,"wind_gust":9.77,"weather":[{"id":804,"m[...]
