---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=metric
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619404254,"sunrise":1619352457,"sunset":1619401664,"temp":20.3,"feels_like":18.83,"pressure":992,"humidity":17,"dew_point":-4.9,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":2.68,"wind_deg":212,"wind_gust":5.81,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619402400,"temp":20.32,"feels_like":18.83,"pressure":993,"humidity":16,"dew_point":-5.6,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":4.88,"wind_deg":196,"wind_gust":8.8,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619406000,"temp":20.3,"feels_like":18.83,"pressure":992,"humidity":17,"dew_point":-4.9,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":6.55,"wind_deg":203,"wind_gust":11.5,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619409600,"temp":19.92,"feels_like":18.41,"pressure":993,"humidity":17,"dew_point":-5.18,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":5.84,"wind_deg":209,"wind_gust":10.66,"weather":[{"id":800,"main":"Clear",[...]
