---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1604,"perpage":1,"total":"1604","photo":[{"id":"51109599422","owner":"57835821@N00","secret":"880e545129","server":"65535","farm":66,"title":"Afternoon
        Walk","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/51109599422_880e545129_c.jpg","height_c":600,"width_c":800}]},"stat":"ok"}'
  recorded_at: Thu, 06 May 2021 20:29:11 GMT
recorded_with: VCR 6.0.0
