---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20night%20cloudy
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":17,"perpage":1,"total":"17","photo":[{"id":"26035054186","owner":"50687522@N00","secret":"0328787533","server":"1692","farm":2,"title":"Building
        LEDs","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/1692\/26035054186_0328787533_c.jpg","height_c":600,"width_c":800}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 02:25:00 GMT
recorded_with: VCR 6.0.0
