---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Tampa,FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 17:50:15 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Tampa,FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tampa","adminArea5Type":"City","adminArea4":"Hillsborough
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":27.94776,"lng":-82.458444},"displayLatLng":{"lat":27.94776,"lng":-82.458444},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=27.9477595,-82.458444|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1915574143"},{"street":"Tampa","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Hendry
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"33440","geocodeQualityCode":"B1AXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":26.700501,"lng":-81.218817},"displayLatLng":{"lat":26.700501,"lng":-81.218817},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=26.7005012,-81.2188167|marker-sm-50318A-2&scalebar=true&zoom=15&rand=1930657943"}]}]}'
  recorded_at: Fri, 07 May 2021 17:50:15 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.94776&lon=-82.458444&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9478,"lon":-82.4584,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620409815,"sunrise":1620384311,"sunset":1620432452,"temp":83.3,"feels_like":81.12,"pressure":1018,"humidity":26,"dew_point":44.87,"uvi":10.46,"clouds":1,"visibility":10000,"wind_speed":10.36,"wind_deg":330,"wind_gust":17.27,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1620406800,"temp":83.01,"feels_like":80.98,"pressure":1018,"humidity":27,"dew_point":45.63,"uvi":10.46,"clouds":1,"visibility":10000,"wind_speed":13.35,"wind_deg":326,"wind_gust":14.65,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620410400,"temp":83.3,"feels_like":81.12,"pressure":1018,"humidity":26,"dew_point":44.87,"uvi":10.46,"clouds":1,"visibility":10000,"wind_speed":15.59,"wind_deg":318,"wind_gust":15.97,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620414000,"temp":82.99,"feels_like":80.96,"pressure":1018,"humidity":27,"dew_point":45.61,"uvi":8.86,"clouds":1,"visibility":10000,"wind_speed":15.64,"wind_deg":315,"wind_gust":16.69,"weather":[{"id":800,"m[...]
