---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.947423&lon=-82.458776&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9474,"lon":-82.4588,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620350332,"sunrise":1620297953,"sunset":1620346015,"temp":79.12,"feels_like":79.12,"pressure":1015,"humidity":74,"dew_point":70.12,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":4.61,"wind_deg":310,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1620349200,"temp":79.12,"feels_like":79.12,"pressure":1015,"humidity":74,"dew_point":70.12,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":10.45,"wind_deg":295,"wind_gust":14.25,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620352800,"temp":78.93,"feels_like":78.93,"pressure":1015,"humidity":73,"dew_point":69.53,"uvi":0,"clouds":78,"visibility":10000,"wind_speed":10.09,"wind_deg":327,"wind_gust":13.13,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620356400,"temp":78.31,"feels_like":79.38,"pressure":1015,"humidity":75,"dew_point":69.75,"uvi":0,"clouds":82,"visibility":10000,"wind_speed":8.28,"wind_deg":333,"wind_gust":11.7,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620360000,"temp":77.7,"feels_like":78.75,"pressure":1016,"humidity":76,"dew_point":69.53,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":7.36,"wind_deg":322,"wind_gust":11.68,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620363600,"temp":77.09,"feels_like":77.97,"pressure":1016,"humidity":74,"dew_point":68.16,"uvi":0,"clouds":88,"visibility":10000,"wind_speed":8.95,"wind_deg":311,"wind_gust":14.18,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.07},{"dt":1620367200,"temp":76.15,"feels_like":77,"pressure":1016,"humidity":75,"dew_point":67.75,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":10.54,"wind_deg":306,"wind_gust":16.02,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.39,"rain":{"1h":0.21}},{"dt":1620370800,"temp":75.22,"feels_like":76.1,"pressure":1015,"humidity":78,"dew_point":67.89,"uvi":0,"clouds":64,"visibility":10000,"wind_speed":10.67,"wind_deg":309,"wind_gust":15.39,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.58},{"dt":1620374400,"temp":74.5,"feels_like":75.36,"pressure":1015,"humidity":79,"dew_point":67.78,"uvi":0,"clouds":35,"visibility":10000,"wind_speed":9.26,"wind_deg":317,"wind_gust":13.71,"weather":[{[...]
