---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Tampa,FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 02:09:55 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Tampa,FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tampa","adminArea5Type":"City","adminArea4":"Hillsborough
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":27.94776,"lng":-82.458444},"displayLatLng":{"lat":27.94776,"lng":-82.458444},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=27.9477595,-82.458444|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1943567557"},{"street":"Tampa","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Hendry
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"33440","geocodeQualityCode":"B1AXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":26.700501,"lng":-81.218817},"displayLatLng":{"lat":26.700501,"lng":-81.218817},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=26.7005012,-81.2188167|marker-sm-50318A-2&scalebar=true&zoom=15&rand=1931818998"}]}]}'
  recorded_at: Fri, 07 May 2021 02:09:55 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.94776&lon=-82.458444&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9478,"lon":-82.4584,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620353395,"sunrise":1620297953,"sunset":1620346015,"temp":78.17,"feels_like":79.36,"pressure":1015,"humidity":78,"dew_point":70.75,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":3.44,"wind_deg":300,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1620352800,"temp":78.17,"feels_like":79.36,"pressure":1015,"humidity":78,"dew_point":70.75,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":10.09,"wind_deg":327,"wind_gust":13.13,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1620356400,"temp":77.95,"feels_like":79.07,"pressure":1015,"humidity":77,"dew_point":70.16,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":8.25,"wind_deg":333,"wind_gust":11.7,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1620360000,"temp":77.59,"feels_like":78.67,"pressure":1016,"humidity":77,"dew_point":69.82,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":7.34,"wind_deg":322,"wind_gust":11.68,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1620363600,"temp":77.22,"feels_like":78.17,"pressure":1016,"humidity":75,"dew_point":68.68,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":8.93,"wind_deg":311,"wind_gust":14.2,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.07},{"dt":1620367200,"temp":76.55,"feels_like":77.43,"pressure":1016,"humidity":75,"dew_point":68.04,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":10.54,"wind_deg":306,"wind_gust":16.02,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.39,"rain":{"1h":0.21}},{"dt":1620370800,"temp":75.2,"feels_like":76.08,"pressure":1015,"humidity":78,"dew_point":67.89,"uvi":0,"clouds":64,"visibility":10000,"wind_speed":10.65,"wind_deg":309,"wind_gust":15.39,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.58},{"dt":1620374400,"temp":74.48,"feels_like":75.34,"pressure":1015,"humidity":79,"dew_point":67.77,"uvi":0,"clouds":35,"visibility":10000,"wind_speed":9.24,"wind_deg":317,"wind_gust":13.71,"weather":[[...]
