---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1620333727,"sunrise":1620302049,"sunset":1620352731,"temp":68.67,"feels_like":66.54,"pressure":1019,"humidity":28,"dew_point":34.29,"uvi":7.48,"clouds":0,"visibility":10000,"wind_speed":3.15,"wind_deg":40,"wind_gust":3.91,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1620331200,"temp":68.65,"feels_like":66.49,"pressure":1019,"humidity":27,"dew_point":33.37,"uvi":9.29,"clouds":0,"visibility":10000,"wind_speed":2.91,"wind_deg":76,"wind_gust":4.43,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620334800,"temp":68.67,"feels_like":66.54,"pressure":1019,"humidity":28,"dew_point":34.29,"uvi":7.48,"clouds":0,"visibility":10000,"wind_speed":3.15,"wind_deg":40,"wind_gust":3.91,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620338400,"temp":69.31,"feels_like":67.17,"pressure":1018,"humidity":26,"dew_point":32.99,"uvi":5.01,"clouds":0,"visibility":10000,"wind_speed":2.86,"wind_deg":32,"wind_gust":3.24,"weather":[{"id":800,"main":"[...]
