---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619404234,"sunrise":1619352457,"sunset":1619401664,"temp":68.54,"feels_like":65.89,"pressure":992,"humidity":17,"dew_point":23.18,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":5.99,"wind_deg":212,"wind_gust":13,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619402400,"temp":68.58,"feels_like":65.89,"pressure":993,"humidity":16,"dew_point":21.92,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":10.92,"wind_deg":196,"wind_gust":19.69,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619406000,"temp":68.54,"feels_like":65.89,"pressure":992,"humidity":17,"dew_point":23.18,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":14.65,"wind_deg":203,"wind_gust":25.72,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619409600,"temp":67.86,"feels_like":65.14,"pressure":993,"humidity":17,"dew_point":22.68,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":13.06,"wind_deg":209,"wind_gust":23.85,"weather":[{"id":800,"main":"Cl[...]
