---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1620350299,"sunrise":1620302049,"sunset":1620352731,"temp":69.1,"feels_like":66.88,"pressure":1016,"humidity":25,"dew_point":31.86,"uvi":0.31,"clouds":0,"visibility":10000,"wind_speed":1.01,"wind_deg":306,"wind_gust":5.99,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1620349200,"temp":69.1,"feels_like":66.88,"pressure":1016,"humidity":25,"dew_point":31.86,"uvi":0.31,"clouds":0,"visibility":10000,"wind_speed":6.26,"wind_deg":35,"wind_gust":6.38,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620352800,"temp":68.23,"feels_like":66.07,"pressure":1016,"humidity":28,"dew_point":33.93,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":5.97,"wind_deg":26,"wind_gust":10.78,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620356400,"temp":66.38,"feels_like":64.22,"pressure":1016,"humidity":32,"dew_point":35.67,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.56,"wind_deg":355,"wind_gust":8.93,"weather":[{"id":800,"main":"Clea[...]
