---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=9844-295
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 06 May 2021 20:28:37 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"9844-295"},"locations":[{"street":"295
        McConvey Dr, 9844","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Richmond
        Hill","adminArea5Type":"City","adminArea4":"York","adminArea4Type":"County","adminArea3":"ON","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"L4C
        3K1","geocodeQualityCode":"P1CXX","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"R","linkId":"r28482232|p101420308|n38207450","unknownInput":"","type":"s","latLng":{"lat":43.888958,"lng":-79.424549},"displayLatLng":{"lat":43.88889,"lng":-79.424252},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=43.888958,-79.424549|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-170716963"},{"street":"295
        Rue Varry, 9844","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Saint-Laurent","adminArea5Type":"City","adminArea4":"Montr\u00E9al","adminArea4Type":"County","adminArea3":"QC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"H4N
        1A4","geocodeQualit[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=43.888958&lon=-79.424549&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.889,"lon":-79.4245,"timezone":"America/Toronto","timezone_offset":-14400,"current":{"dt":1620332918,"sunrise":1620295340,"sunset":1620347173,"temp":55.47,"feels_like":52.79,"pressure":1015,"humidity":44,"dew_point":33.94,"uvi":3.38,"clouds":99,"visibility":10000,"wind_speed":3,"wind_deg":229,"wind_gust":8.01,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1620331200,"temp":55.47,"feels_like":52.79,"pressure":1015,"humidity":44,"dew_point":33.94,"uvi":3.38,"clouds":99,"visibility":10000,"wind_speed":8.05,"wind_deg":318,"wind_gust":11.63,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1620334800,"temp":55.18,"feels_like":52.43,"pressure":1015,"humidity":43,"dew_point":33.12,"uvi":2.06,"clouds":99,"visibility":10000,"wind_speed":8.79,"wind_deg":326,"wind_gust":10.92,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1620338400,"temp":54.32,"feels_like":51.51,"pressure":1015,"humidity":44,"dew_point":32.9,"uvi":1.09,"clouds":98,"visibility":10000,"wind_speed":8.93,"wind_deg":339,"wind_gust":9.95,"weather":[{"id":8[...]
[...]
