---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=9844-295
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 02:09:11 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"9844-295"},"locations":[{"street":"2950
        East Street","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Zearing","adminArea5Type":"City","adminArea4":"Bureau
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"61330","geocodeQualityCode":"B1XXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":41.470694,"lng":-89.286252},"displayLatLng":{"lat":41.470694,"lng":-89.286252},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=41.470694,-89.286252|marker-sm-50318A-1&scalebar=true&zoom=15&rand=99940486"},{"street":"Landstrasse","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Wettingen","adminArea5Type":"City","adminArea4":"Bezirk
        Baden","adminArea4Type":"County","adminArea3":"Aargau","adminArea3Type":"State","adminArea1":"CH","adminArea1Type":"Country","postalCode":"4530","geocodeQualityCode":"B1XXX","geoco[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=41.470694&lon=-89.286252&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.4707,"lon":-89.2863,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1620353352,"sunrise":1620298053,"sunset":1620349193,"temp":52.88,"feels_like":50.07,"pressure":1018,"humidity":47,"dew_point":33.22,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":4.61,"wind_deg":290,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1620352800,"temp":52.88,"feels_like":50.07,"pressure":1018,"humidity":47,"dew_point":33.22,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":7,"wind_deg":310,"wind_gust":16.58,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1620356400,"temp":51.53,"feels_like":48.92,"pressure":1018,"humidity":54,"dew_point":35.46,"uvi":0,"clouds":39,"visibility":10000,"wind_speed":6.17,"wind_deg":312,"wind_gust":9.48,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1620360000,"temp":49.78,"feels_like":47.23,"pressure":1018,"humidity":61,"dew_point":36.9,"uvi":0,"clouds":36,"visibility":10000,"wind_speed":6.35,"wind_deg":303,"wind_gust":9.04,"weather":[{"id":802,"ma[...]
