---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=9844-295
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 21:39:26 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"9844-295"},"locations":[{"street":"295
        McConvey Dr, 9844","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Richmond
        Hill","adminArea5Type":"City","adminArea4":"York","adminArea4Type":"County","adminArea3":"ON","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"L4C
        3K1","geocodeQualityCode":"P1CXX","geocodeQuality":"POINT","dragPoint":false,"sideOfStreet":"R","linkId":"r28482232|p101420308|n38207450","unknownInput":"","type":"s","latLng":{"lat":43.888958,"lng":-79.424549},"displayLatLng":{"lat":43.88889,"lng":-79.424252},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=43.888958,-79.424549|marker-sm-50318A-1&scalebar=true&zoom=15&rand=1811090959"},{"street":"295
        Rue Varry, 9844","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Saint-Laurent","adminArea5Type":"City","adminArea4":"Montr\u00E9al","adminArea4Type":"County","adminArea3":"QC","adminArea3Type":"State","adminArea1":"CA","adminArea1Type":"Country","postalCode":"H4N
        1A4","geocodeQualit[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=43.888958&lon=-79.424549&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":43.889,"lon":-79.4245,"timezone":"America/Toronto","timezone_offset":-14400,"current":{"dt":1619559567,"sunrise":1619518492,"sunset":1619568926,"temp":52.66,"feels_like":49.6,"pressure":1010,"humidity":42,"dew_point":30.45,"uvi":0.46,"clouds":100,"visibility":10000,"wind_speed":5.99,"wind_deg":160,"wind_gust":11.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619557200,"temp":52.03,"feels_like":49.15,"pressure":1011,"humidity":47,"dew_point":32.45,"uvi":1.18,"clouds":100,"visibility":10000,"wind_speed":5.79,"wind_deg":155,"wind_gust":8.63,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.95,"rain":{"1h":0.39}},{"dt":1619560800,"temp":52.66,"feels_like":49.6,"pressure":1010,"humidity":42,"dew_point":30.45,"uvi":0.46,"clouds":100,"visibility":10000,"wind_speed":4.88,"wind_deg":116,"wind_gust":6.82,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.86},{"dt":1619564400,"temp":51.67,"feels_like":48.85,"pressure":1010,"humidity":49,"dew_point":33.15,"uvi":0.15,"clouds":100,"visibility":10000,"wind_speed":6.38,"wind_deg":134,"wind_gust":10.18,"we[...]
[...]
