---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=9844-295
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 17:37:31 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"9844-295"},"locations":[{"street":"2950
        East Street","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Zearing","adminArea5Type":"City","adminArea4":"Bureau
        County","adminArea4Type":"County","adminArea3":"IL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"61330","geocodeQualityCode":"B1XXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":41.470694,"lng":-89.286252},"displayLatLng":{"lat":41.470694,"lng":-89.286252},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=41.470694,-89.286252|marker-sm-50318A-1&scalebar=true&zoom=15&rand=-1299793150"},{"street":"Landstrasse","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Wettingen","adminArea5Type":"City","adminArea4":"Bezirk
        Baden","adminArea4Type":"County","adminArea3":"Aargau","adminArea3Type":"State","adminArea1":"CH","adminArea1Type":"Country","postalCode":"4530","geocodeQualityCode":"B1XXX","ge[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=41.470694&lon=-89.286252&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.4707,"lon":-89.2863,"timezone":"America/Chicago","timezone_offset":-18000,"current":{"dt":1620409052,"sunrise":1620384382,"sunset":1620435657,"temp":59.94,"feels_like":57.7,"pressure":1016,"humidity":44,"dew_point":37.99,"uvi":6.84,"clouds":40,"visibility":10000,"wind_speed":20.71,"wind_deg":320,"wind_gust":25.32,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1620406800,"temp":59.04,"feels_like":56.75,"pressure":1016,"humidity":45,"dew_point":37.74,"uvi":6.41,"clouds":39,"visibility":10000,"wind_speed":14.67,"wind_deg":332,"wind_gust":19.15,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1620410400,"temp":59.94,"feels_like":57.7,"pressure":1016,"humidity":44,"dew_point":37.99,"uvi":6.84,"clouds":40,"visibility":10000,"wind_speed":15.61,"wind_deg":334,"wind_gust":19.62,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1620414000,"temp":59.22,"feels_like":56.86,"pressure":1016,"humidity":43,"dew_point":36.75,"uvi":6.34,"clouds":33,"visibility":10000,"wind_speed":15.79,"wind_deg":330,"wind_gust":20.83,"weather":[{"i[...]
