---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=51.50015&lon=-0.12624&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.5002,"lon":-0.1262,"timezone":"Europe/London","timezone_offset":3600,"current":{"dt":1619539895,"sunrise":1619498380,"sunset":1619550978,"temp":61.61,"feels_like":59.4,"pressure":1007,"humidity":41,"dew_point":37.71,"uvi":0.67,"clouds":99,"visibility":10000,"wind_speed":11.5,"wind_deg":90,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619539200,"temp":61.61,"feels_like":59.4,"pressure":1007,"humidity":41,"dew_point":37.71,"uvi":0.67,"clouds":99,"visibility":10000,"wind_speed":3.42,"wind_deg":90,"wind_gust":4.32,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619542800,"temp":60.66,"feels_like":58.39,"pressure":1007,"humidity":42,"dew_point":37.47,"uvi":0.32,"clouds":99,"visibility":10000,"wind_speed":8.01,"wind_deg":100,"wind_gust":7.25,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619546400,"temp":58.5,"feels_like":56.21,"pressure":1007,"humidity":46,"dew_point":37.81,"uvi":0.11,"clouds":97,"visibility":10000,"wind_speed":10.07,"wind_deg":108,"wind_gust":12.64,"weather":[{"id":[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=London%20UK%20evening%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":10,"perpage":1,"total":"10","photo":[{"id":"50875489462","owner":"39944805@N00","secret":"a4d7f9ac49","server":"65535","farm":66,"title":"12\/365
        - Morning, swans","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/50875489462_a4d7f9ac49_c.jpg","height_c":533,"width_c":800}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 16:11:35 GMT
recorded_with: VCR 6.0.0
