---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.947423&lon=-82.458776&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9474,"lon":-82.4588,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620333715,"sunrise":1620297953,"sunset":1620346015,"temp":86.9,"feels_like":93.69,"pressure":1016,"humidity":62,"dew_point":72.3,"uvi":4.07,"clouds":40,"visibility":10000,"wind_speed":9.22,"wind_deg":290,"wind_gust":18.41,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1620331200,"temp":86.86,"feels_like":92.39,"pressure":1016,"humidity":59,"dew_point":70.81,"uvi":6.99,"clouds":33,"visibility":10000,"wind_speed":15.79,"wind_deg":286,"wind_gust":17.25,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.16},{"dt":1620334800,"temp":86.9,"feels_like":93.69,"pressure":1016,"humidity":62,"dew_point":72.3,"uvi":4.07,"clouds":40,"visibility":10000,"wind_speed":14.29,"wind_deg":286,"wind_gust":16.13,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.16},{"dt":1620338400,"temp":86.38,"feels_like":91.83,"pressure":1016,"humidity":60,"dew_point":70.84,"uvi":1.69,"clouds":34,"visibility":10000,"wind_speed":15.55,"wind_deg":295,"wind_gust":17.69,"weather"[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20morning%20scattered%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":1,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Thu, 06 May 2021 20:42:34 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1604,"perpage":1,"total":"1604","photo":[{"id":"51109599422","owner":"57835821@N00","secret":"880e545129","server":"65535","farm":66,"title":"Afternoon
        Walk","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/51109599422_880e545129_c.jpg","height_c":600,"width_c":800}]},"stat":"ok"}'
  recorded_at: Thu, 06 May 2021 20:42:34 GMT
recorded_with: VCR 6.0.0
