---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=London,UK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 02:09:03 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"London,UK"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"London","adminArea5Type":"City","adminArea4":"London","adminArea4Type":"County","adminArea3":"England","adminArea3Type":"State","adminArea1":"GB","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":51.507322,"lng":-0.127647},"displayLatLng":{"lat":51.507322,"lng":-0.127647},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=51.5073219,-0.1276474|marker-sm-50318A-1&scalebar=true&zoom=12&rand=818168779"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"City
        of London","adminArea5Type":"City","adminArea4":"City of London","adminArea4Type":"County","adminArea3":"England","adminArea3Type":"State","adminArea1":"GB","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XXX","geocodeQua[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=51.507322&lon=-0.127647&units
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.5073,"lon":-0.1276,"timezone":"Europe/London","timezone_offset":3600,"current":{"dt":1620353343,"sunrise":1620361278,"sunset":1620415967,"temp":278.74,"feels_like":275.4,"pressure":1012,"humidity":70,"dew_point":273.71,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":4.63,"wind_deg":280,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}]},"hourly":[{"dt":1620352800,"temp":278.74,"feels_like":275.72,"pressure":1012,"humidity":70,"dew_point":273.71,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":4.03,"wind_deg":299,"wind_gust":10.74,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1620356400,"temp":278.41,"feels_like":275.48,"pressure":1012,"humidity":72,"dew_point":273.78,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":3.74,"wind_deg":288,"wind_gust":10.63,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1620360000,"temp":277.91,"feels_like":275,"pressure":1012,"humidity":73,"dew_point":273.49,"uvi":0,"clouds":20,"visibility":10000,"wind_speed":3.53,"wind_deg":291,"wind_gust":10.59,"weather":[{"id":801,"ma[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=DONT_LOOK_AT_ALL&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=London%20UK%20evening%20few%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":421,"perpage":1,"total":"421","photo":[{"id":"51156520389","owner":"39944805@N00","secret":"d478f54cf4","server":"65535","farm":66,"title":"102\/365
        - Evening light","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/51156520389_d478f54cf4_c.jpg","height_c":533,"width_c":800}]},"stat":"ok"}'
  recorded_at: Fri, 07 May 2021 02:09:03 GMT
recorded_with: VCR 6.0.0
