---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.947423&lon=-82.458776&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9474,"lon":-82.4588,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620347450,"sunrise":1620297953,"sunset":1620346015,"temp":79.97,"feels_like":79.97,"pressure":1016,"humidity":74,"dew_point":70.93,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":5.75,"wind_deg":310,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1620345600,"temp":80.2,"feels_like":83.41,"pressure":1016,"humidity":71,"dew_point":69.94,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":10.54,"wind_deg":285,"wind_gust":13.89,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.12},{"dt":1620349200,"temp":79.97,"feels_like":79.97,"pressure":1016,"humidity":74,"dew_point":70.93,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":9.82,"wind_deg":298,"wind_gust":13.56,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1620352800,"temp":79.63,"feels_like":79.63,"pressure":1016,"humidity":73,"dew_point":70.21,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":10.38,"wind_deg":321,"wind_gust":14.41,"weather":[{"id":8[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=DONT_LOOK_AT_ALL&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20morning%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":2,"perpage":1,"total":"2","photo":[{"id":"8588243977","owner":"27531711@N08","secret":"3fc1ee9834","server":"8381","farm":9,"title":"Washington
        Oaks Coquina","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/8381\/8588243977_3fc1ee9834_c.jpg","height_c":800,"width_c":534}]},"stat":"ok"}'
  recorded_at: Fri, 07 May 2021 00:30:55 GMT
recorded_with: VCR 6.0.0
