---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=London,UK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 17:49:21 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"London,UK"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"London","adminArea5Type":"City","adminArea4":"London","adminArea4Type":"County","adminArea3":"England","adminArea3Type":"State","adminArea1":"GB","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":51.507322,"lng":-0.127647},"displayLatLng":{"lat":51.507322,"lng":-0.127647},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=51.5073219,-0.1276474|marker-sm-50318A-1&scalebar=true&zoom=12&rand=866845714"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"City
        of London","adminArea5Type":"City","adminArea4":"City of London","adminArea4Type":"County","adminArea3":"England","adminArea3Type":"State","adminArea1":"GB","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XXX","geocodeQua[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=51.507322&lon=-0.127647&units
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.5073,"lon":-0.1276,"timezone":"Europe/London","timezone_offset":3600,"current":{"dt":1620409762,"sunrise":1620361278,"sunset":1620415967,"temp":285.86,"feels_like":284.26,"pressure":1016,"humidity":41,"dew_point":272.98,"uvi":0.32,"clouds":97,"visibility":10000,"wind_speed":4.12,"wind_deg":210,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1620406800,"temp":285.58,"feels_like":284.05,"pressure":1016,"humidity":45,"dew_point":273.99,"uvi":0.83,"clouds":97,"visibility":10000,"wind_speed":3.68,"wind_deg":236,"wind_gust":5.1,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.42,"rain":{"1h":0.15}},{"dt":1620410400,"temp":285.86,"feels_like":284.26,"pressure":1016,"humidity":41,"dew_point":272.98,"uvi":0.32,"clouds":97,"visibility":10000,"wind_speed":3.34,"wind_deg":221,"wind_gust":5.37,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.44},{"dt":1620414000,"temp":285.19,"feels_like":283.68,"pressure":1016,"humidity":47,"dew_point":274.23,"uvi":0,"clouds":98,"visibility":10000,"wind_speed":3.41,"wind_deg":211,"wind_gust":7.2,"we[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=DONT_LOOK_AT_ALL&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=London%20UK%20evening%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":10,"perpage":1,"total":"10","photo":[{"id":"50875489462","owner":"39944805@N00","secret":"a4d7f9ac49","server":"65535","farm":66,"title":"12\/365
        - Morning, swans","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/50875489462_a4d7f9ac49_c.jpg","height_c":533,"width_c":800}]},"stat":"ok"}'
  recorded_at: Fri, 07 May 2021 17:49:21 GMT
recorded_with: VCR 6.0.0
