---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Tampa,FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 23:46:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Tampa,FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tampa","adminArea5Type":"City","adminArea4":"Hillsborough
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039845","unknownInput":"","type":"s","latLng":{"lat":27.947423,"lng":-82.458776},"displayLatLng":{"lat":27.947423,"lng":-82.458776},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=27.947423,-82.458776|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-713499617"}]}]}'
  recorded_at: Sun, 25 Apr 2021 23:46:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.947423&lon=-82.458776&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9474,"lon":-82.4588,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619394381,"sunrise":1619348088,"sunset":1619395222,"temp":78.55,"feels_like":78.78,"pressure":1013,"humidity":57,"dew_point":62.06,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":6.91,"wind_deg":290,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619391600,"temp":78.21,"feels_like":78.46,"pressure":1013,"humidity":58,"dew_point":62.22,"uvi":0.4,"clouds":2,"visibility":10000,"wind_speed":12.06,"wind_deg":302,"wind_gust":13.89,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.09},{"dt":1619395200,"temp":78.55,"feels_like":78.78,"pressure":1013,"humidity":57,"dew_point":62.06,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":10.8,"wind_deg":308,"wind_gust":13.94,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.04},{"dt":1619398800,"temp":77.27,"feels_like":77.43,"pressure":1013,"humidity":58,"dew_point":61.36,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":9.51,"wind_deg":312,"wind_gust":13.51,"weather":[{"id":800,"mai[...]
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20morning%20clear%20sky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1,"perpage":1,"total":"1","photo":[{"id":"14122150734","owner":"33994682@N03","secret":"3cd68d7066","server":"5589","farm":6,"title":"Eta
        Aquarid Meteor \/ Iridium Flare over Tampa Bay","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/5589\/14122150734_3cd68d7066_c.jpg","height_c":530,"width_c":800}]},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 23:46:54 GMT
recorded_with: VCR 6.0.0
