---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=51.50015&lon=-0.12624&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.5002,"lon":-0.1262,"timezone":"Europe/London","timezone_offset":3600,"current":{"dt":1619487907,"sunrise":1619498380,"sunset":1619550978,"temp":37.13,"feels_like":34.59,"pressure":1015,"humidity":75,"dew_point":30.2,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":3.44,"wind_deg":0,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1619485200,"temp":37.63,"feels_like":37.63,"pressure":1015,"humidity":76,"dew_point":30.92,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.89,"wind_deg":53,"wind_gust":6.24,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619488800,"temp":37.13,"feels_like":37.13,"pressure":1015,"humidity":75,"dew_point":30.2,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.28,"wind_deg":63,"wind_gust":4.21,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619492400,"temp":37.4,"feels_like":37.4,"pressure":1015,"humidity":77,"dew_point":30.99,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":2.19,"wind_deg":51,"wind_gust":2.17,"weather":[{"id":804,"main"[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=London%20UK%20evening%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":10,"perpage":1,"total":"10","photo":[{"id":"50875489462","owner":"39944805@N00","secret":"a4d7f9ac49","server":"65535","farm":66,"title":"12\/365
        - Morning, swans","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/50875489462_a4d7f9ac49_c.jpg","height_c":533,"width_c":800}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 01:45:07 GMT
recorded_with: VCR 6.0.0
