---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.947423&lon=-82.458776&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9474,"lon":-82.4588,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619490337,"sunrise":1619434434,"sunset":1619481657,"temp":75.47,"feels_like":75.58,"pressure":1019,"humidity":61,"dew_point":61.09,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":12.66,"wind_deg":100,"wind_gust":19.57,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1619488800,"temp":75.47,"feels_like":75.58,"pressure":1019,"humidity":61,"dew_point":61.09,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":15.61,"wind_deg":90,"wind_gust":23.67,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1619492400,"temp":75.04,"feels_like":75.16,"pressure":1019,"humidity":62,"dew_point":61.14,"uvi":0,"clouds":51,"visibility":10000,"wind_speed":15.23,"wind_deg":87,"wind_gust":24.9,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1619496000,"temp":74.05,"feels_like":74.21,"pressure":1019,"humidity":65,"dew_point":61.54,"uvi":0,"clouds":62,"visibility":10000,"wind_speed":14.65,"wind_deg":91,"wind_gust":25.05,"weather":[{"id":803,"mai[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20morning%20scattered%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":1,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 02:25:41 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1604,"perpage":1,"total":"1604","photo":[{"id":"51109599422","owner":"57835821@N00","secret":"880e545129","server":"65535","farm":66,"title":"Afternoon
        Walk","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/51109599422_880e545129_c.jpg","height_c":600,"width_c":800}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 02:25:41 GMT
recorded_with: VCR 6.0.0
