---
http_interactions:
- request:
    method: get
    uri: http://open.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Tampa,FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 07 May 2021 01:18:12 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Tampa,FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tampa","adminArea5Type":"City","adminArea4":"Hillsborough
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":27.94776,"lng":-82.458444},"displayLatLng":{"lat":27.94776,"lng":-82.458444},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=27.9477595,-82.458444|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1912282623"},{"street":"Tampa","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Hendry
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"33440","geocodeQualityCode":"B1AXX","geocodeQuality":"STREET","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":26.700501,"lng":-81.218817},"displayLatLng":{"lat":26.700501,"lng":-81.218817},"mapUrl":"http://open.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=26.7005012,-81.2188167|marker-sm-50318A-2&scalebar=true&zoom=15&rand=1231603353"}]}]}'
  recorded_at: Fri, 07 May 2021 01:18:12 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.94776&lon=-82.458444&units
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9478,"lon":-82.4584,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620350285,"sunrise":1620297953,"sunset":1620346015,"temp":299.33,"feels_like":299.33,"pressure":1015,"humidity":74,"dew_point":294.33,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":2.06,"wind_deg":310,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1620349200,"temp":299.33,"feels_like":299.33,"pressure":1015,"humidity":74,"dew_point":294.33,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":4.67,"wind_deg":295,"wind_gust":6.37,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620352800,"temp":299.22,"feels_like":299.22,"pressure":1015,"humidity":73,"dew_point":294,"uvi":0,"clouds":78,"visibility":10000,"wind_speed":4.51,"wind_deg":327,"wind_gust":5.87,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620356400,"temp":298.87,"feels_like":299.46,"pressure":1015,"humidity":75,"dew_point":294.11,"uvi":0,"clouds":82,"visibility":10000,"wind_speed":3.69,"wind_deg":333,"wind_gust":5.23,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620360000,"temp":298.54,"feels_like":299.12,"pressure":1016,"humidity":76,"dew_point":294,"uvi":0,"clouds":83,"visibility":10000,"wind_speed":3.28,"wind_deg":322,"wind_gust":5.22,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620363600,"temp":298.2,"feels_like":298.69,"pressure":1016,"humidity":74,"dew_point":293.24,"uvi":0,"clouds":88,"visibility":10000,"wind_speed":3.99,"wind_deg":311,"wind_gust":6.35,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.07},{"dt":1620367200,"temp":297.68,"feels_like":298.15,"pressure":1016,"humidity":75,"dew_point":293.01,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":4.71,"wind_deg":306,"wind_gust":7.16,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.39,"rain":{"1h":0.21}},{"dt":1620370800,"temp":297.15,"feels_like":297.64,"pressure":1015,"humidity":78,"dew_point":293.09,"uvi":0,"clouds":64,"visibility":10000,"wind_speed":4.76,"wind_deg":309,"wind_gust":6.88,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.58},{"dt":1620374400,"temp":296.75,"feels_like":297.23,"pressure":1015,"humidity":79,"dew_point":293.02,"uvi":0,"clouds":35,"visibility":10000,"wind_speed":4.13,"wind_deg":317,"wind_gust":6.13,"weathe[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=DONT_LOOK_AT_ALL&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20night%20broken%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1,"perpage":1,"total":"1","photo":[{"id":"14761486534","owner":"60386751@N04","secret":"20417a725c","server":"2913","farm":3,"title":"206\/365","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/2913\/14761486534_20417a725c_c.jpg","height_c":533,"width_c":800}]},"stat":"ok"}'
  recorded_at: Fri, 07 May 2021 01:18:12 GMT
recorded_with: VCR 6.0.0
