---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=51.50015&lon=-0.12624&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":51.5002,"lon":-0.1262,"timezone":"Europe/London","timezone_offset":3600,"current":{"dt":1620333753,"sunrise":1620274982,"sunset":1620329468,"temp":46.99,"feels_like":42.19,"pressure":1009,"humidity":40,"dew_point":24.87,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":10.36,"wind_deg":290,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1620331200,"temp":46.62,"feels_like":42.94,"pressure":1009,"humidity":44,"dew_point":26.6,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":7.36,"wind_deg":303,"wind_gust":20.4,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620334800,"temp":46.99,"feels_like":42.75,"pressure":1009,"humidity":40,"dew_point":24.87,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":8.84,"wind_deg":289,"wind_gust":21.05,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1620338400,"temp":46.27,"feels_like":41.34,"pressure":1009,"humidity":44,"dew_point":26.33,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":10.2,"wind_deg":291,"wind_gust":23.6,"weather":[{"id":800,"main":"Cle[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=London%20UK%20evening%20clear%20sky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":203,"perpage":1,"total":"203","photo":[{"id":"51065893993","owner":"183960362@N05","secret":"91715bbc8a","server":"65535","farm":66,"title":"\u201cCalm\u201d","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/51065893993_91715bbc8a_c.jpg","height_c":450,"width_c":800}]},"stat":"ok"}'
  recorded_at: Thu, 06 May 2021 20:42:33 GMT
recorded_with: VCR 6.0.0
