---
http_interactions:
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=12345%20night%20
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":66,"perpage":1,"total":"66","photo":[{"id":"51096297192","owner":"131384299@N04","secret":"c265dfaeac","server":"65535","farm":66,"title":"Night
        12345","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/51096297192_c265dfaeac_c.jpg","height_c":534,"width_c":800}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 02:47:46 GMT
recorded_with: VCR 6.0.0
