---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=Tampa,FL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 01:26:47 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Tampa,FL"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Tampa","adminArea5Type":"City","adminArea4":"Hillsborough
        County","adminArea4Type":"County","adminArea3":"FL","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039845","unknownInput":"","type":"s","latLng":{"lat":27.947423,"lng":-82.458776},"displayLatLng":{"lat":27.947423,"lng":-82.458776},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=27.947423,-82.458776|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1676074685"}]}]}'
  recorded_at: Sun, 25 Apr 2021 01:26:47 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&lat=27.947423&lon=-82.458776&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9474,"lon":-82.4588,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619314008,"sunrise":1619261742,"sunset":1619308787,"temp":78.31,"feels_like":79.75,"pressure":1013,"humidity":83,"dew_point":72.72,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":16.11,"wind_deg":210,"wind_gust":20.71,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"minutely":[{"dt":1619314020,"precipitation":0},{"dt":1619314080,"precipitation":0},{"dt":1619314140,"precipitation":0},{"dt":1619314200,"precipitation":0},{"dt":1619314260,"precipitation":0},{"dt":1619314320,"precipitation":0},{"dt":1619314380,"precipitation":0},{"dt":1619314440,"precipitation":0},{"dt":1619314500,"precipitation":0},{"dt":1619314560,"precipitation":0},{"dt":1619314620,"precipitation":0},{"dt":1619314680,"precipitation":0},{"dt":1619314740,"precipitation":0},{"dt":1619314800,"precipitation":0},{"dt":1619314860,"precipitati[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=Tampa%20FL%20night%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1,"perpage":1,"total":"1","photo":[{"id":"26035054186","owner":"50687522@N00","secret":"0328787533","server":"1692","farm":2,"title":"Building
        LEDs","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/1692\/26035054186_0328787533_c.jpg","height_c":600,"width_c":800}]},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 01:26:48 GMT
recorded_with: VCR 6.0.0
