---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=portland,or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 03:04:57 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"portland,or"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Portland","adminArea5Type":"City","adminArea4":"Multnomah
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039059","unknownInput":"","type":"s","latLng":{"lat":45.516018,"lng":-122.681425},"displayLatLng":{"lat":45.516018,"lng":-122.681425},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=45.516018,-122.681425|marker-sm-50318A-1&scalebar=true&zoom=12&rand=569367542"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Portland","adminArea5Type":"City","adminArea4":"Multnomah
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"421589463","unknownInput":"","type":"s","latLng":{"lat":45.516018,"lng":-122.681425},"displayLatLng":{"lat":45.516018,"lng":-122.681425},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=45.516018,-122.681425|marker-sm-50318A-2&scalebar=true&zoom=12&rand=1326992239"}]}]}'
  recorded_at: Sun, 25 Apr 2021 03:04:57 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&lat=45.516018&lon=-122.681425&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.516,"lon":-122.6814,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619319897,"sunrise":1619269741,"sunset":1619320092,"temp":50.2,"feels_like":48.92,"pressure":1005,"humidity":85,"dew_point":45.88,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":4,"wind_deg":140,"wind_gust":8.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"minutely":[{"dt":1619319900,"precipitation":0},{"dt":1619319960,"precipitation":0},{"dt":1619320020,"precipitation":0},{"dt":1619320080,"precipitation":0},{"dt":1619320140,"precipitation":0},{"dt":1619320200,"precipitation":0},{"dt":1619320260,"precipitation":0},{"dt":1619320320,"precipitation":0},{"dt":1619320380,"precipitation":0},{"dt":1619320440,"precipitation":0},{"dt":1619320500,"precipitation":0},{"dt":1619320560,"precipitation":0},{"dt":1619320620,"precipitation":0},{"dt":1619320680,"precipitation":0},{"dt":1619320740,"precipitati[...]
