---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=portland,or
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 21:43:18 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"portland,or"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Portland","adminArea5Type":"City","adminArea4":"Multnomah
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039059","unknownInput":"","type":"s","latLng":{"lat":45.516018,"lng":-122.681425},"displayLatLng":{"lat":45.516018,"lng":-122.681425},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=45.516018,-122.681425|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1300933873"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Portland","adminArea5Type":"City","adminArea4":"Multnomah
        County","adminArea4Type":"County","adminArea3":"OR","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"421589463","unknownInput":"","type":"s","latLng":{"lat":45.516018,"lng":-122.681425},"displayLatLng":{"lat":45.516018,"lng":-122.681425},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=45.516018,-122.681425|marker-sm-50318A-2&scalebar=true&zoom=12&rand=-1984287194"}]}]}'
  recorded_at: Mon, 26 Apr 2021 21:43:18 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=45.516018&lon=-122.681425&units
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.516,"lon":-122.6814,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619473398,"sunrise":1619442349,"sunset":1619493048,"temp":286.99,"feels_like":285.84,"pressure":1014,"humidity":54,"dew_point":277.85,"uvi":3.29,"clouds":90,"visibility":10000,"wind_speed":1.73,"wind_deg":243,"wind_gust":2.07,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619470800,"temp":286.96,"feels_like":285.81,"pressure":1014,"humidity":54,"dew_point":277.82,"uvi":3.65,"clouds":90,"visibility":10000,"wind_speed":1.41,"wind_deg":226,"wind_gust":1.99,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.8},{"dt":1619474400,"temp":286.99,"feels_like":285.84,"pressure":1014,"humidity":54,"dew_point":277.85,"uvi":3.29,"clouds":90,"visibility":10000,"wind_speed":1.73,"wind_deg":243,"wind_gust":2.07,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.79},{"dt":1619478000,"temp":287.26,"feels_like":286.08,"pressure":1014,"humidity":52,"dew_point":277.56,"uvi":2.34,"clouds":89,"visibility":10000,"wind_speed":2.18,"wind_deg":266,"wind_gust":2.25,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.78},{"dt":1619481600,"temp":287.06,"feels_like":285.92,"pressure":1014,"humidity":54,"dew_point":277.92,"uvi":1.4,"clouds":88,"visibility":10000,"wind_speed":2.81,"wind_deg":283,"wind_gust":2.93,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.9},{"dt":1619485200,"temp":286.46,"feels_like":285.47,"pressure":1014,"humidity":62,"dew_point":279.34,"uvi":0.67,"clouds":95,"visibility":10000,"wind_speed":2.41,"wind_deg":296,"wind_gust":3.82,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.76,"rain":{"1h":0.26}},{"dt":1619488800,"temp":285.23,"feels_like":284.43,"pressure":1014,"humidity":74,"dew_point":280.74,"uvi":0.21,"clouds":96,"visibility":10000,"wind_speed":2.04,"wind_deg":301,"wind_gust":5.03,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.82,"rain":{"1h":0.23}},{"dt":1619492400,"temp":283.57,"feels_like":282.89,"pressure":1015,"humidity":85,"dew_point":280.94,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":1.57,"wind_deg":316,"wind_g[...]
