---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.947423&lon=-82.458776&units
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9474,"lon":-82.4588,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619487926,"sunrise":1619434434,"sunset":1619481657,"temp":298.02,"feels_like":298.05,"pressure":1018,"humidity":57,"dew_point":288.93,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":5.66,"wind_deg":100,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}]},"hourly":[{"dt":1619485200,"temp":298.03,"feels_like":298.04,"pressure":1018,"humidity":56,"dew_point":288.66,"uvi":0,"clouds":52,"visibility":10000,"wind_speed":7.23,"wind_deg":89,"wind_gust":10.76,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1619488800,"temp":298.02,"feels_like":298.05,"pressure":1018,"humidity":57,"dew_point":288.93,"uvi":0,"clouds":40,"visibility":10000,"wind_speed":6.98,"wind_deg":90,"wind_gust":10.58,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03n"}],"pop":0},{"dt":1619492400,"temp":297.64,"feels_like":297.69,"pressure":1018,"humidity":59,"dew_point":289.11,"uvi":0,"clouds":51,"visibility":10000,"wind_speed":6.81,"wind_deg":87,"wind_gust":11.13,"weather":[{"id":[...]
