---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=45.516018&lon=-122.681425&units
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.516,"lon":-122.6814,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619487927,"sunrise":1619442349,"sunset":1619493048,"temp":286.55,"feels_like":285.28,"pressure":1015,"humidity":51,"dew_point":276.63,"uvi":0.21,"clouds":75,"visibility":10000,"wind_speed":3.6,"wind_deg":250,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619485200,"temp":286.46,"feels_like":285.28,"pressure":1015,"humidity":55,"dew_point":277.62,"uvi":0.67,"clouds":79,"visibility":10000,"wind_speed":2.45,"wind_deg":277,"wind_gust":3.6,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.8,"rain":{"1h":0.25}},{"dt":1619488800,"temp":286.55,"feels_like":285.28,"pressure":1015,"humidity":51,"dew_point":276.63,"uvi":0.21,"clouds":75,"visibility":10000,"wind_speed":1.64,"wind_deg":312,"wind_gust":3.71,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.89},{"dt":1619492400,"temp":285.98,"feels_like":284.83,"pressure":1015,"humidity":58,"dew_point":277.93,"uvi":0,"clouds":77,"visibility":10000,"wind_speed":1.29,"wind_deg":337,"wind_gust":2,"weathe[...]
