---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.947423&lon=-82.458776&units
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9474,"lon":-82.4588,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619404244,"sunrise":1619348088,"sunset":1619395222,"temp":293.91,"feels_like":294.21,"pressure":1015,"humidity":83,"dew_point":290.92,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":1.54,"wind_deg":330,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}]},"hourly":[{"dt":1619402400,"temp":294.12,"feels_like":294.31,"pressure":1015,"humidity":78,"dew_point":290.14,"uvi":0,"clouds":60,"visibility":10000,"wind_speed":4.07,"wind_deg":318,"wind_gust":6.23,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1619406000,"temp":293.91,"feels_like":294.21,"pressure":1015,"humidity":83,"dew_point":290.92,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":4.08,"wind_deg":325,"wind_gust":6.47,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1619409600,"temp":293.91,"feels_like":294.1,"pressure":1015,"humidity":79,"dew_point":290.14,"uvi":0,"clouds":60,"visibility":10000,"wind_speed":4.02,"wind_deg":337,"wind_gust":6.85,"weather":[{"id":803,[...]
