---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=45.516018&lon=-122.681425&units
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":45.516,"lon":-122.6814,"timezone":"America/Los_Angeles","timezone_offset":-25200,"current":{"dt":1619404244,"sunrise":1619356044,"sunset":1619406570,"temp":284.97,"feels_like":283.83,"pressure":1007,"humidity":62,"dew_point":277.93,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":3.09,"wind_deg":330,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619402400,"temp":285.08,"feels_like":283.92,"pressure":1007,"humidity":61,"dew_point":277.8,"uvi":0.19,"clouds":79,"visibility":10000,"wind_speed":1.94,"wind_deg":224,"wind_gust":3.99,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.57},{"dt":1619406000,"temp":284.97,"feels_like":283.83,"pressure":1007,"humidity":62,"dew_point":277.93,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":2.05,"wind_deg":247,"wind_gust":5.38,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.53},{"dt":1619409600,"temp":284.68,"feels_like":283.56,"pressure":1007,"humidity":64,"dew_point":278.11,"uvi":0,"clouds":79,"visibility":10000,"wind_speed":1.32,"wind_deg":263,"wind_gust":4.32,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.45,"rain":{"1h":0.1}},{"dt":1619413200,"temp":284.18,"feels_like":283.11,"pressure":1007,"humidity":68,"dew_point":278.51,"uvi":0,"clouds":84,"visibility":10000,"wind_speed":0.67,"wind_deg":271,"wind_gust":1.72,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0.38},{"dt":1619416800,"temp":283.56,"feels_like":282.59,"pressure":1008,"humidity":74,"dew_point":279.13,"uvi":0,"clouds":88,"visibility":10000,"wind_speed":0.54,"wind_deg":281,"wind_gust":1.15,"weather[...]
