---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=27.947423&lon=-82.458776&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":27.9474,"lon":-82.4588,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619539893,"sunrise":1619520782,"sunset":1619568093,"temp":81.82,"feels_like":82.72,"pressure":1021,"humidity":51,"dew_point":61.93,"uvi":9.77,"clouds":90,"visibility":10000,"wind_speed":6.91,"wind_deg":120,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619539200,"temp":81.82,"feels_like":82.72,"pressure":1021,"humidity":51,"dew_point":61.93,"uvi":9.77,"clouds":90,"visibility":10000,"wind_speed":11.3,"wind_deg":100,"wind_gust":13.11,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619542800,"temp":82.08,"feels_like":82.56,"pressure":1021,"humidity":48,"dew_point":60.46,"uvi":11.43,"clouds":73,"visibility":10000,"wind_speed":9.28,"wind_deg":101,"wind_gust":11.86,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619546400,"temp":83.12,"feels_like":83.19,"pressure":1020,"humidity":45,"dew_point":59.59,"uvi":11.43,"clouds":55,"visibility":10000,"wind_speed":8.93,"wind_deg":98,"wind_gust":11.72,"weather":[{"id":[...]
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=tampa%20fl%20morning%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":2,"perpage":1,"total":"2","photo":[{"id":"8588243977","owner":"27531711@N08","secret":"3fc1ee9834","server":"8381","farm":9,"title":"Washington
        Oaks Coquina","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/8381\/8588243977_3fc1ee9834_c.jpg","height_c":800,"width_c":534}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 16:11:52 GMT
recorded_with: VCR 6.0.0
