---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=40.442169&lon=-79.994945&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.4422,"lon":-79.9949,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619404186,"sunrise":1619346392,"sunset":1619395735,"temp":42.69,"feels_like":37.83,"pressure":1018,"humidity":65,"dew_point":31.8,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":8.05,"wind_deg":320,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619402400,"temp":42.69,"feels_like":39.45,"pressure":1018,"humidity":65,"dew_point":31.8,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":5.26,"wind_deg":343,"wind_gust":13.96,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619406000,"temp":42.1,"feels_like":38.66,"pressure":1019,"humidity":67,"dew_point":31.96,"uvi":0,"clouds":14,"visibility":10000,"wind_speed":5.39,"wind_deg":342,"wind_gust":15.23,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02n"}],"pop":0},{"dt":1619409600,"temp":41.18,"feels_like":37.98,"pressure":1019,"humidity":68,"dew_point":31.51,"uvi":0,"clouds":31,"visibility":10000,"wind_speed":4.85,"wind_deg":339,"wind_gust":13.62,"weather":[{"id":802,"main":[...]
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=pittsburgh%20pa%20night%20clear%20sky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":21,"perpage":1,"total":"21","photo":[{"id":"50309201406","owner":"139088226@N04","secret":"fa21646486","server":"65535","farm":66,"title":"Diana
        & Paul\u2019s University Club Wedding","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/50309201406_fa21646486_c.jpg","height_c":534,"width_c":800}]},"stat":"ok"}'
  recorded_at: Mon, 26 Apr 2021 02:30:42 GMT
recorded_with: VCR 6.0.0
