---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=pittsburgh,pa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Thu, 06 May 2021 20:28:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"pittsburgh,pa"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pittsburgh","adminArea5Type":"City","adminArea4":"Allegheny
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039780","unknownInput":"","type":"s","latLng":{"lat":40.442169,"lng":-79.994945},"displayLatLng":{"lat":40.442169,"lng":-79.994945},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=40.442169,-79.994945|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2123401195"}]}]}'
  recorded_at: Thu, 06 May 2021 20:28:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=40.442169&lon=-79.994945&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.4422,"lon":-79.9949,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620332927,"sunrise":1620295964,"sunset":1620346822,"temp":56.66,"feels_like":53.82,"pressure":1016,"humidity":38,"dew_point":31.44,"uvi":3,"clouds":1,"visibility":10000,"wind_speed":6.91,"wind_deg":290,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1620331200,"temp":56.66,"feels_like":53.82,"pressure":1016,"humidity":38,"dew_point":31.44,"uvi":3,"clouds":1,"visibility":10000,"wind_speed":5.37,"wind_deg":323,"wind_gust":8.88,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0},{"dt":1620334800,"temp":56.88,"feels_like":54.1,"pressure":1016,"humidity":39,"dew_point":32.22,"uvi":1.81,"clouds":21,"visibility":10000,"wind_speed":5.12,"wind_deg":317,"wind_gust":6.76,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1620338400,"temp":56.64,"feels_like":53.98,"pressure":1016,"humidity":42,"dew_point":33.84,"uvi":0.83,"clouds":41,"visibility":10000,"wind_speed":4.45,"wind_deg":316,"wind_gust":4.94,"weather":[{"id":802,"ma[...]
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=pittsburgh%20pa%20afternoon%20clear%20sky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":7,"perpage":1,"total":"7","photo":[{"id":"42996488871","owner":"37242255@N02","secret":"0d818ea192","server":"1799","farm":2,"title":"WE
        612 Brookline PA","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/1799\/42996488871_0d818ea192_c.jpg","height_c":541,"width_c":800}]},"stat":"ok"}'
  recorded_at: Thu, 06 May 2021 20:28:54 GMT
recorded_with: VCR 6.0.0
