---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=pittsburgh,pa
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 23:46:23 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"pittsburgh,pa"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Pittsburgh","adminArea5Type":"City","adminArea4":"Allegheny
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039780","unknownInput":"","type":"s","latLng":{"lat":40.442169,"lng":-79.994945},"displayLatLng":{"lat":40.442169,"lng":-79.994945},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=40.442169,-79.994945|marker-sm-50318A-1&scalebar=true&zoom=12&rand=446374082"}]}]}'
  recorded_at: Sun, 25 Apr 2021 23:46:23 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=40.442169&lon=-79.994945&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.4422,"lon":-79.9949,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1619394384,"sunrise":1619346392,"sunset":1619395735,"temp":49.87,"feels_like":45.09,"pressure":1014,"humidity":58,"dew_point":35.71,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":12.66,"wind_deg":330,"wind_gust":27.63,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"hourly":[{"dt":1619391600,"temp":49.32,"feels_like":44.56,"pressure":1015,"humidity":60,"dew_point":36.03,"uvi":0.19,"clouds":21,"visibility":10000,"wind_speed":11.97,"wind_deg":320,"wind_gust":19.57,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0.06},{"dt":1619395200,"temp":49.87,"feels_like":45.55,"pressure":1014,"humidity":58,"dew_point":35.71,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":11.01,"wind_deg":324,"wind_gust":19.06,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}],"pop":0.06},{"dt":1619398800,"temp":48.79,"feels_like":45.79,"pressure":1015,"humidity":59,"dew_point":35.13,"uvi":0,"clouds":21,"visibility":10000,"wind_speed":6.89,"wind_deg":328,"wind_gust":17.29,"weather":[{"id":801,"m[...]
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=pittsburgh%20pa%20morning%20clear%20sky
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":7,"perpage":1,"total":"7","photo":[{"id":"33647522865","owner":"66708955@N06","secret":"b361c4de63","server":"3715","farm":4,"title":"DSC00058
        New Quaker Bridge Park,  Greenville, Pennsylvania","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/3715\/33647522865_b361c4de63_c.jpg","height_c":533,"width_c":800}]},"stat":"ok"}'
  recorded_at: Sun, 25 Apr 2021 23:46:25 GMT
recorded_with: VCR 6.0.0
