---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=DONT_LOOK&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 27 Apr 2021 00:11:46 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1042985489"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=DONT_LOOK&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=853810927"}]}]}'
  recorded_at: Tue, 27 Apr 2021 00:11:46 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619482296,"sunrise":1619438778,"sunset":1619488125,"temp":72.5,"feels_like":69.82,"pressure":996,"humidity":8,"dew_point":10.47,"uvi":0.62,"clouds":100,"visibility":10000,"wind_speed":14.29,"wind_deg":234,"wind_gust":21.03,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619481600,"temp":72.5,"feels_like":69.82,"pressure":996,"humidity":8,"dew_point":10.47,"uvi":0.62,"clouds":100,"visibility":10000,"wind_speed":14.29,"wind_deg":234,"wind_gust":21.03,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619485200,"temp":72.16,"feels_like":69.49,"pressure":995,"humidity":9,"dew_point":12.61,"uvi":0.14,"clouds":100,"visibility":10000,"wind_speed":12.73,"wind_deg":250,"wind_gust":19.04,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1619488800,"temp":70.25,"feels_like":67.53,"pressure":996,"humidity":12,"dew_point":17.15,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":12.75,"wind_deg":245,"wind_gust":22.46,"weather":[{"id":8[...]
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver%20co%20evening%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":1,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 00:11:47 GMT
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=420dff41e4312b17f82310895dca8123&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=denver%20co%20skyline
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":2782,"perpage":1,"total":"2782","photo":[{"id":"51109091602","owner":"187606541@N08","secret":"b814e3c805","server":"65535","farm":66,"title":"Mile
        High City At Sunrise","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/65535\/51109091602_b814e3c805_c.jpg","height_c":450,"width_c":800}]},"stat":"ok"}'
  recorded_at: Tue, 27 Apr 2021 00:11:47 GMT
recorded_with: VCR 6.0.0
