---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=DONT_LOOK_AGAIN&exclude=alerts,minutely&lat=40.442169&lon=-79.994945&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":40.4422,"lon":-79.9949,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1620349395,"sunrise":1620295964,"sunset":1620346822,"temp":52.16,"feels_like":49.28,"pressure":1016,"humidity":47,"dew_point":32.56,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.61,"wind_deg":270,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1620349200,"temp":52.16,"feels_like":49.28,"pressure":1016,"humidity":47,"dew_point":32.56,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":1.92,"wind_deg":9,"wind_gust":2.15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1620352800,"temp":51.04,"feels_like":48.29,"pressure":1016,"humidity":52,"dew_point":34.05,"uvi":0,"clouds":75,"visibility":10000,"wind_speed":1.9,"wind_deg":62,"wind_gust":1.79,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1620356400,"temp":49.51,"feels_like":48.69,"pressure":1016,"humidity":57,"dew_point":34.93,"uvi":0,"clouds":61,"visibility":10000,"wind_speed":3.51,"wind_deg":104,"wind_gust":3.83,"weather":[{"id":803,"main":[...]
[...]
- request:
    method: get
    uri: https://api.flickr.com/services/rest?api_key=DONT_LOOK_AT_ALL&extras=url_c&format=json&method=flickr.photos.search&nojsoncallback=1&per_page=1&text=pittsburgh%20pa%20evening%20overcast%20clouds
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":1,"perpage":1,"total":"1","photo":[{"id":"33649097122","owner":"58781606@N00","secret":"82d889e2d3","server":"2818","farm":3,"title":"Shades
        of Gray","ispublic":1,"isfriend":0,"isfamily":0,"url_c":"https:\/\/live.staticflickr.com\/2818\/33649097122_82d889e2d3_c.jpg","height_c":533,"width_c":800}]},"stat":"ok"}'
  recorded_at: Fri, 07 May 2021 01:03:22 GMT
recorded_with: VCR 6.0.0
